<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Batch Attach Files</Name><AddInID>{d26a08b2-ab84-4cfd-ac6f-e01d3efa88f1}</AddInID><Description>Choose multiple files to attach to selected features</Description><Version>0.1</Version><Image>Images\batch_attach.png</Image><Author>Greg Spiridonov</Author><Company>Lambton County GIS</Company><Date>06/22/2015</Date><Targets><Target name="Desktop" version="10.3" /></Targets><AddIn language="PYTHON" library="BatchAttach_addin.py" namespace="BatchAttach_addin"><ArcMap>
    <Commands>
        <Button caption="Batch Attach to Selected Features" category="Batch Attach Files" class="BatchAttach" id="BatchAttach_addin.button" image="Images\batch_attach_small.png" message="Attach files to selected Features" tip="Attach files to selected Features"><Help heading="Attach files to selected Features">Attach files to selected Features</Help></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Batch Attach Toolbar" category="Batch Attach Files" id="BatchAttach_addin.toolbar" showInitially="false"><Items><Button refID="BatchAttach_addin.button" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>